main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-gap: 24px;
    width: 97%;
    height: 92%;
    background-color: #FFF;
    padding: 24px;
}
.grid_item {
    position: relative;
    background-color: #769b96;
}

.one {
    grid-row: 1 / 4;
    grid-column: 1 / 5;
}
.two {
    grid-row: 1 / 7;
    grid-column: 5 / 9;
}
.three {
    grid-row: 1 / 3;
    grid-column: 9 / 13;
}
.four {
    grid-row: 4 / 7;
    grid-column: 1 / 5;
}
.five {
    grid-row: 3 / 5;
    grid-column: 9 / 13;
}
.six {
    grid-row: 7 / 11;
    grid-column: 1 / 5;
}
.seven {
    grid-row: 7 / 9;
    grid-column: 5 / 7;
}
.eight {
    grid-row: 5 / 7;
    grid-column: 9 / 13;
}
.nine {
    grid-row: 9 / 11;
    grid-column: 5 / 7;
}
.ten {
    grid-row: 7 / 11;
    grid-column: 7 / 11;
}
.eleven {
    grid-row: 7 / 11;
    grid-column: 11 / 13;
}
.twelve {
    grid-row: 11 / 12;
    grid-column: -14 / 14;
    background-color: #9BC1BC;
    color: #000;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    line-height: normal;
    text-indent: 24px;
    font-size: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
}